DISCORD_TOKEN=
INSTAGRAM_USERNAME=gtaworld_es_oficial
INSTAGRAM_MEDIA_API_URL=
INSTAGRAM_ACCESS_TOKEN=
DISCORD_CHANNEL_ID=1455996281272012932
CHECK_INTERVAL_MINUTES=1
POST_ON_STARTUP=false
STATE_FILE=.ig-state.json
